.colorUno{
    background-color: #40828a;
}

.colorDos{
    background-color: #51b997;
}

.colorTres{
    background-color: #7dd28d;
}

.fuente{
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fondo{
    background-image: url("../img/fondo.png");
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
}

.btn.btn-primary{
    background-color: #40828a;
    border-color:#40828a;
    color:white;
}

